# Dataset

In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import re

### Wikipedia Dataset - Top Selling Manga

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_best-selling_manga"
response = requests.get(url)

In [4]:
html = response.content

In [5]:
soup = bs(html,"lxml")

In [6]:
wiki_tables = soup.select("table.wikitable.sortable")

# en el select también hubiera funcionado table.wikitable o table.sortable nada más, pero lo deje así porque es más explícito

In [14]:
name = []
author = []
publi = []
demo = []
vol = []
date = []
sta = []
sales = []

for table in wiki_tables:
    temp_name = [e.get_text().split("\n")[1] for e in table.select("tr")[1:]]
    name += temp_name
    
    temp_author = [e.get_text().split("\n")[2] for e in table.select("tr")[1:]]
    author += temp_author
    
    temp_publi = [e.get_text().split("\n")[3] for e in table.select("tr")[1:]]
    publi += temp_publi
    
    temp_demo = [e.get_text().split("\n")[4].replace("ō","ou") for e in table.select("tr")[1:]] # multiples demographics think how to categorize it properly - Sazae-san
    demo += temp_demo
    
    temp_vol = [e.get_text().split("\n")[5] for e in table.select("tr")[1:]] # be careful one value is 32/35 change it - Shaman King
    vol += temp_vol
    
    temp_date = [int(e.get_text().split("\n")[6][:4]) for e in table.select("tr")[1:]]
    date += temp_date
    
    temp_sta = ["Publishing" if "present" in e.get_text().split("\n")[6] else "On Hiatus" 
                if "hiatus" in e.get_text().split("\n")[6] else "Finished"
                for e in table.select("tr")[1:]]
    sta += temp_sta
    
    temp_sales = [float(e.get_text().split("\n")[7].replace("\xa0"," ").split(" ")[0]) for e in table.select("tr")[1:]]
    # temp_sales = [float(re.sub("[^\d+\.?\d+]", "", e.get_text().split("\n")[7][:-10])) for e in wiki_tables[1].select("tr")[1:]]
    sales += temp_sales

In [15]:
data = {"Name": name,
        "Author": author,
        "Publisher": publi,
        "Demographic": demo,
        "Num of Volumes": vol,
        "Release Date": date,
        "Status": sta,
        "Sales of Vol":sales
       }

df_best_selling_mangas = pd.DataFrame(data)

In [26]:
df_best_selling_mangas

,Name,Author,Publisher,Demographic,Num of Volumes,Release Date,Status,Sales of Vol
0,One Piece,Eiichiro Oda,Shueisha,Shounen,102,1997,Publishing,490.0
1,Dragon Ball,Akira Toriyama,Shueisha,Shounen,42,1984,Finished,300.0
2,Golgo 13,"Takao Saito, Saito Production",Shogakukan,Seinen,203,1968,Publishing,300.0
3,Detective Conan,Gosho Aoyama,Shogakukan,Shounen,100,1994,Publishing,250.0
4,Doraemon,Fujiko F. Fujio,Shogakukan,Children,53,1969,Finished,250.0
...,...,...,...,...,...,...,...,...
172,Sukeban Deka,Shinji Wada,Hakusensha,Shoujo,22,1976,Finished,20.0
173,Swan,Kyoko Ariyoshi,Shueisha,Shoujo,21,1976,Finished,20.0
174,The Tale of Genji,Waki Yamato,Kodansha,Shoujo,13,1980,Finished,20.0
175,Tokyo Daigaku Monogatari,Tatsuya Egawa,Shogakukan,Seinen,34,1992,Finished,20.0
176,Weed,Yoshihiro Takahashi,Nihon Bungeisha,Seinen,60,1999,Finished,20.0

In [16]:
df_best_selling_mangas.dtypes

Name               object
Author             object
Publisher          object
Demographic        object
Num of Volumes     object
Release Date        int64
Status             object
Sales of Vol      float64
dtype: object

In [21]:
df_best_selling_mangas.loc[20, "Demographic"] = "Children"

df_best_selling_mangas.loc[73,"Num of Volumes"] = "35"

In [22]:
df_best_selling_mangas["Num of Volumes"] = df_best_selling_mangas["Num of Volumes"].astype("int64")

df_best_selling_mangas.dtypes

Name               object
Author             object
Publisher          object
Demographic        object
Num of Volumes      int64
Release Date        int64
Status             object
Sales of Vol      float64
dtype: object

In [23]:
df_best_selling_mangas.to_csv("Wiki_Top_selling_manga.csv",index=False)

# Sales are in million

---
---
---
# Puras Perrerías a partir de este punto

In [174]:
# name
# author
# publi
# demo
# vol
# date
# sta
# sales

---
---
---

In [19]:
prueba = [float(e.get_text().split("\n")[7].replace("\xa0"," ").split(" ")[0]) for e in wiki_tables[1].select("tr")[1:]]
# prueba

In [17]:
prueba = [re.sub("[^\d+\.?\d+]", "", e.get_text().split("\n")[7][:-10]) for e in wiki_tables[1].select("tr")[1:]]
prueba

# How can I include the "." in the regex pattern ???

['96',
 '87',
 '86',
 '85',
 '82',
 '80',
 '80',
 '80',
 '79',
 '77',
 '72',
 '72',
 '65',
 '65',
 '61',
 '60.5',
 '60',
 '60',
 '55.5',
 '55',
 '55',
 '55',
 '55',
 '53',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50']

In [16]:
prueba = [re.sub("[^0-9]", "", e.get_text().split("\n")[7][:-10]) for e in wiki_tables[1].select("tr")[1:]]
prueba

# How can I include the "." in the regex pattern ???

['96',
 '87',
 '86',
 '85',
 '82',
 '80',
 '80',
 '80',
 '79',
 '77',
 '72',
 '72',
 '65',
 '65',
 '61',
 '605',
 '60',
 '60',
 '555',
 '55',
 '55',
 '55',
 '55',
 '53',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50',
 '50']

In [190]:
prueba = [e.get_text().split("\n")[7][:-10] for e in wiki_tables[3].select("tr")[1:]]
# prueba

---

In [191]:
prueba = [e.get_text().split("\n")[6] if e.get_text().split("\n")[6].split("–")[1] != "present" else "Publishing" for e in wiki_tables[0].select("tr")[1:]]
# prueba

# Jose Luis version

In [110]:
a = "present"
"p" in  a

True

In [134]:
prueba = ["Publishing" if "present" in e.get_text().split("\n")[6] else "On Hiatus" 
          if "hiatus" in e.get_text().split("\n")[6] else "Finished"
          for e in wiki_tables[0].select("tr")[1:]]
prueba

['Publishing',
 'Publishing',
 'Finished',
 'Publishing',
 'Finished',
 'Finished',
 'Finished',
 'Finished',
 'Finished',
 'Publishing',
 'On Hiatus',
 'Finished',
 'Publishing',
 'Finished',
 'Finished',
 'Finished',
 'Publishing',
 'Finished']

In [193]:
# wiki_tables[0].select("tr")[1:]

In [10]:
wiki_tables[0].select("tr")[1].get_text()

'\nOne Piece\nEiichiro Oda\nShueisha\nShōnen\n102\n1997–present\n490 million[2][d]\n\n4.8 million\n'

In [133]:
wiki_tables[0].select("tr")[1].get_text().split("\n")[7]

'490 million[2][d]'

---
---
---

In [72]:
bla = {"uno":[],"dos":[],"tres":[]}

In [73]:
qummy = pd.DataFrame(bla )

In [74]:
qummy

Empty DataFrame
Columns: [uno, dos, tres]
Index: []

In [75]:
qummy.loc[0] = ["bla","bu",29]

In [76]:
qummy

   uno dos  tres
0  bla  bu  29.0